@import "../../styles/index.scss";

.persons {
  min-height: 100vh;
  padding: 50px 50px;

  &__title {
    margin: 0;
    text-align: center;
    color: $font-color-white;
  }

  &__sort {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    & span {
      line-height: 40px;
      font-size: 24px;
      margin-right: 10px;
      color: $font-color-white;
    }
    & select {
      height: 40px;
      width: 120px;
      font-size: 20px;
      text-overflow: ellipsis;
      color: $font-color-dark-grey;
      border: 3px solid $main-color;
      outline: none;
    }
  }

  &__add-btn {
    font-weight: 700;
    font-size: 30px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    color: $font-color-white;
    text-align: center;
    background-color: inherit;
    border-radius: 15px;
    border: none;
    transition: all 0.3s;

    &:hover {
      background-color: $main-color;
    }
    &:active {
      background-color: #e7e7e7b0;
    }
  }

  &__table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    & tbody {
      & tr {
        transition: all 0.5s;
        &:hover {
          opacity: 0.8;
        }
        &:last-child {
          border: none;
        }
      }
      background-color: $second-color;
      & tr:nth-child(odd) {
        background-color: $main-color;
        color: $font-color-white;
        font-weight: 400;
      }
      & tr:nth-child(even) {
        color: $font-color-dark-grey;
      }
    }
    thead th {
      color: $font-color-white;
      border: none;
    }

    th {
      font-size: 22px;
      padding: none;
      border: none;

      &:nth-child(1) {
        width: 15%;
      }

      &:nth-child(2) {
        width: 20%;
      }

      &:nth-child(3) {
        width: 15%;
      }

      &:nth-child(4) {
        width: 40%;
      }
      &:last-child {
        text-align: start;
      }
    }

    th {
      font-size: 20px;
      border: 1px solid $font-color-dark-grey;
      &:last-child {
        border: none;
        background-color: $background-color;
      }
    }
  }
  &__page {
    line-height: 40px;
    font-size: 30px;
    font-weight: 700;
  }
  &__pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: $font-color-white;

    & button {
      padding: 0;
      margin: 0;
      height: 40px;
      width: 40px;
      font-size: 36px;
      color: $font-color-white;
      background-color: $main-color;
      border-radius: 20px;
      border: none;
      transition: all 0.3s;

      &:hover {
        background-color: $second-color;
        color: $main-color;
      }
      &:active {
        background-color: #ffffffb0;
      }
      &:disabled {
        cursor: auto;
        opacity: 0.5;
        &:hover {
          background-color: $main-color;
          color: $font-color-white;
        }
      }
    }
  }
}
